
body {
    overflow-x: hidden;
}



:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #4e73df;
    --secondary: #858796;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --hijau-tua : #134E4A;
    --hijau-navbar : #0F766E;
    --hijau-category : #0D9488;
}

/* a {
    text-decoration: none !important;
    color: var(--white) !important;
} */

a {
    text-decoration: none;
}

.navbar-brand > a:hover {
    text-decoration: none !important;
    color: var(--light) !important;
}

.sidebar-scroll {
    max-height: calc(100vh);
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-cat-mat a > *{
    margin-left: 16px;
    padding-left: 16px;
}

.sidebar-materi {
    /* top: 70px !important; */
    overflow-y: auto !important;
    height: 100vh !important;
}

.button-login {
    background-color: var(--hijau-navbar) !important;
    color: var(--hijau-tua);
}

/* .sidebar-materi.navbar-nav {
    background-color: #F0FDFA !important;
} */

#wrapper #content-wrapper {
    background-color: #ffffff !important;
}

.materi-navbar{
    background-color: var(--hijau-navbar) !important;
}

.button-next {
    background-color: var(--hijau-tua) !important;
}

.container-materi {
    background-color: var(--hijau-tua) !important;
}

.navbar-category {
    background-color: var(--hijau-category) !important;;
}

.navbar-brand a {
    color: #ffffff;
    margin: 8px;
}

.footer-materi {
    background-color: var(--hijau-navbar);
    color: #ffffff;
}

.content-materi h1, h2, h3, h4, h5, h6 {
    color: black;
}

a i.size-large-icon.bi {
    font-size: 32px !important;
    color: var(--white);
}

.btn-sign-in:hover {
    color: var(--white) !important;
    background-color: var(--hijau-tua) !important;
}