
/* body {
    background-color: white;
} */



:root {
    --hijau-tua : #134E4A;
    --hijau-navbar : #0F766E;
    --hijau-category : #0D9488;
}

.sidebar-scroll {
    max-height: calc(100vh);
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-cat-mat a > *{
    margin-left: 16px;
    padding-left: 16px;
}

.sidebar-materi {
    /* top: 70px !important; */
    overflow-y: auto !important;
    height: 100vh !important;
}

.button-login {
    background-color: var(--hijau-navbar) !important;
    color: var(--hijau-tua);
}

/* .sidebar-materi.navbar-nav {
    background-color: #F0FDFA !important;
} */

#wrapper #content-wrapper {
    background-color: #ffffff !important;
}

.materi-navbar{
    background-color: var(--hijau-navbar) !important;
}

.button-next {
    background-color: var(--hijau-tua) !important;
}

.container-materi {
    background-color: var(--hijau-tua) !important;
}

.navbar-category {
    background-color: var(--hijau-category) !important;;
}

.navbar-brand a {
    color: #ffffff;
    margin: 8px;
}

.footer-materi {
    background-color: var(--hijau-navbar);
    color: #ffffff;
}
