.sidebar-scroll {
    max-height: calc(100vh);
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-cat-mat a > *{
    margin-left: 16px;
    padding-left: 16px;
}

.sidebar-materi {
    top: 70px !important;
    overflow-y: auto !important;
    height: 100vh !important;
}